<div class="card mb-3">
	<div class="row g-0">
	  <div class="col-md-4">
		<img src="assets/vr napping.jpeg" class="article_img"  alt="...">
	  </div>
	  <div class="col-md-8">
		<div class="card-body">
		  <h5 class="card-title">Card title</h5>
		  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
		  <p class="card-text"><small class="text-muted">Written by John Doe</small></p>
		</div>
	  </div>
	</div>
  </div>
  <div class="card mb-3">
	<div class="row g-0">
	  <div class="col-md-4">
		<img src="assets/data center.jpeg" class="article_img"  alt="...">
	  </div>
	  <div class="col-md-8">
		<div class="card-body">
		  <h5 class="card-title">Card title</h5>
		  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
		  <p class="card-text"><small class="text-muted">Written by Jane Smith</small></p>
		</div>
	  </div>
	</div>
  </div>
  <div class="card mb-3">
	<div class="row g-0">
	  <div class="col-md-4">
		<img src="assets/PS5 picture.png" class="article_img"  alt="...">
	  </div>
	  <div class="col-md-8">
		<div class="card-body">
		  <h5 class="card-title">Card title</h5>
		  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
		  <p class="card-text"><small class="text-muted">Written by Jane Doe</small></p>
		</div>
	  </div>
	</div>
  </div>
  <div class="card mb-3">
	<div class="row g-0">
	  <div class="col-md-4">
		<img src="assets/Macintosh photo.jpg" class="article_img"  alt="...">
	  </div>
	  <div class="col-md-8">
		<div class="card-body">
		  <h5 class="card-title">Card title</h5>
		  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
		  <p class="card-text"><small class="text-muted">Written by Johnny Reno</small></p>
		</div>
	  </div>
	</div>
  </div>