<div class="card mb-3">
	<div class="row g-0">
	  <div class="col-md-4">
		<img src="assets/vr napping.jpeg" class="article_img"  alt="...">
	  </div>
	  <div class="col-md-8">
		<div class="card-body">
		  <h5 class="card-title">VR Napping</h5>
		  <p class="card-text">Now you can use Virtual Reality to take naps at work. Success!</p>
		  <br />
		  <p> By Damien Broderick</p>
		</div>
	  </div>
	</div>
  </div>
  <div class="card mb-3">
	<div class="row g-0">
	  <div class="col-md-4">
		<img src="assets/data center.jpeg" class="article_img"  alt="...">
	  </div>
	  <div class="col-md-8">
		<div class="card-body">
		  <h5 class="card-title">Data Catastrophe</h5>
		  <p class="card-text">Woman working at Amazon data center becomes hopelessly tangled in wires and cannot escape.</p>
		   <br />
		  <p> By Steve Wozniak</p>
		</div>
	  </div>
	</div>
  </div>
  <div class="card mb-3">
	<div class="row g-0">
	  <div class="col-md-4">
		<img src="assets/PS5 picture.png" class="article_img"  alt="...">
	  </div>
	  <div class="col-md-8">
		<div class="card-body">
		  <h5 class="card-title">Taco Bell Sells PS5</h5>
		  <p class="card-text">"I dunno," says CEO, "Looks like a taco to me."</p>
		  <br />
		  <p class="card-text">By Bruce "Batman" Wayne</p>
		</div>
	  </div>
	</div>
  </div>
  <div class="card mb-3">
	<div class="row g-0">
	  <div class="col-md-4">
		<img src="assets/Macintosh photo.jpg" class="article_img"  alt="...">
	  </div>
	  <div class="col-md-8">
		<div class="card-body">
		  <h5 class="card-title">Apple's New Thing</h5>
		  <p class="card-text">They're calling it a "personal computer." It's a dumb idea though and non one's going to use it.</p>
		  <br />
		  <p class="card-text">By Guy Who Is Really Old</p>
		</div>
	  </div>
	</div>
  </div>