<section>
	<div id="featured" class="row">
		<header>
			<h3>SkyNet Goes Lives</h3>
		</header>
		<p class="featured_text">
			<img id="featured-image" src="/assets/image1.jpg" alt="Featured Ipsum" class="img-fluid float-left">
			Commodo id minim cupidatat cupidatat minim enim occaecat elit minim ea. Dolore adipisicing aute eiusmod eu
			labore qui ut sint adipisicing duis voluptate reprehenderit dolore. Tempor ex eu nulla ut incididunt fugiat
			proident do est. Irure incididunt sint incididunt cillum do id aliqua.

			Non sit excepteur dolore esse aliquip cillum ad. Excepteur labore commodo ad minim Lorem mollit et occaecat
			ullamco veniam cillum laborum sint fugiat. Nulla labore et esse fugiat ut officia fugiat pariatur id. Ea
			dolore eiusmod anim aliquip laboris anim. Ea ut nisi do et qui officia officia.
		</p>
	</div>
</section>
<div class="container-fluid">
	<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
		<div class="col col-lg-4">
			<div class="article">
				<section>
					<header>
						<div class="article_image">
							<img src="" alt="lorum" class="img-fluid">
						</div>
						<h4>Lorum Ipsem Goes Wild</h4>
					</header>
					<article>
						<p class="article_text">Elit proident laboris sint sint ea et reprehenderit
							eu irure ullamco dolor cupidatat amet. Aute sint est velit anim. Esse
							deserunt eiusmod irure nulla eiusmod sunt laborum deserunt. Dolore
							laborum duis enim magna minim magna nostrud laborum quis veniam aute
							enim consequat.</p>
						<p class="author">John Doe</p>
					</article>
				</section>
			</div>
		</div>
		<div class="col col-lg-4">
			<div class="article">
				<section>
					<header>
						<div class="article_image">
							<img src="" alt="lorum" class="img-fluid">
						</div>
						<h4>This App will change your life.</h4>
					</header>
					<article>
						<p class="article_text">Elit proident laboris sint sint ea et reprehenderit
							eu irure ullamco dolor cupidatat amet. Aute sint est velit anim. Esse
							deserunt eiusmod irure nulla eiusmod sunt laborum deserunt. Dolore
							laborum duis enim magna minim magna nostrud laborum quis veniam aute
							enim consequat.</p>
						<p class="author">John Doe</p>
					</article>
				</section>
			</div>
		</div>
		<div class="col col-lg-4">
			<div class="article">
				<section>
					<header>
						<div class="article_image">
							<img src="" alt="lorum" class="img-fluid">
						</div>
						<h4>Lorum Ipsem Goes Wild</h4>
					</header>
					<article>
						<p class="article_text">Elit proident laboris sint sint ea et reprehenderit
							eu irure ullamco dolor cupidatat amet. Aute sint est velit anim. Esse
							deserunt eiusmod irure nulla eiusmod sunt laborum deserunt. Dolore
							laborum duis enim magna minim magna nostrud laborum quis veniam aute
							enim consequat.</p>
						<p class="author">John Doe</p>
					</article>
				</section>
			</div>
		</div>
		<div class="col col-lg-4">
			<div class="article">
				<section>
					<header>
						<div class="article_image">
							<img src="" alt="lorum" class="img-fluid">
						</div>
						<h4>Lorum Ipsem Goes Wild</h4>
					</header>
					<article>
						<p class="article_text">Elit proident laboris sint sint ea et reprehenderit
							eu irure ullamco dolor cupidatat amet. Aute sint est velit anim. Esse
							deserunt eiusmod irure nulla eiusmod sunt laborum deserunt. Dolore
							laborum duis enim magna minim magna nostrud laborum quis veniam aute
							enim consequat.</p>
						<p class="author">John Doe</p>
					</article>
				</section>
			</div>
		</div>
		<div class="col col-lg-4">
			<div class="article">
				<section>
					<header>
						<div class="article_image">
							<img src="" alt="lorum" class="img-fluid">
						</div>
						<h4>Lorum Ipsem Goes Wild</h4>
					</header>
					<article>
						<p class="article_text">Elit proident laboris sint sint ea et reprehenderit
							eu irure ullamco dolor cupidatat amet. Aute sint est velit anim. Esse
							deserunt eiusmod irure nulla eiusmod sunt laborum deserunt. Dolore
							laborum duis enim magna minim magna nostrud laborum quis veniam aute
							enim consequat.</p>
						<p class="author">John Doe</p>
					</article>
				</section>
			</div>
		</div>
		<div class="col col-lg-4">
			<div class="article">
				<section>
					<header>
						<div class="article_image">
							<img src="" alt="lorum" class="img-fluid">
						</div>
						<h4>Lorum Ipsem Goes Wild</h4>
					</header>
					<article>
						<p class="article_text">Elit proident laboris sint sint ea et reprehenderit
							eu irure ullamco dolor cupidatat amet. Aute sint est velit anim. Esse
							deserunt eiusmod irure nulla eiusmod sunt laborum deserunt. Dolore
							laborum duis enim magna minim magna nostrud laborum quis veniam aute
							enim consequat.</p>
						<p class="author">John Doe</p>
					</article>
				</section>
			</div>
		</div>
	</div>
</div>