<section>
	<div class="card mb-1">
		<div class="row g-0">
			<div class="col-md-4">
				<img id="featured-image" src="/assets/mars.jpeg" alt="nuke">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h3 class="card-title">Musk to Mars</h3>
					<p class="card-text">Elon Musk has finally mastered space travel and has announced his impending
						move to the red planet, Mars. He departs this Sunday.</p>
					<br />
					<p>By Ada Lovelace</p>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="container-fluid">
	<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
		<div class="col col-lg-4">
			<div class="card">
				<img src="assets/space hub.jpeg" class="card-img-top article_img" alt="lorem">
				<div class="card-body">
					<article>
						<h4 class="card-title">Sub Space</h4>
						<p class="card-text">Space X builds subterranean space hub. Why? We don't know.</p>
						<br />
						<p>By Sergey Brin</p>
					</article>
					<a href="#" class="btn btn-link">Read more...</a>
				</div>
			</div>
		</div>
		<div class="col col-lg-4">
			<div class="card">
				<img src="assets/sentient ai.jpeg" class="card-img-top article_img" alt="lorem">
				<div class="card-body">
					<article>
						<h4 class="card-title">Sentient AI</h4>
						<p class="card-text">Woman uploads her brain content to supercomputer and becomes first sentient
							artificial intelligence.</p>
						<br />
						<p>By Alan Turing</p>
					</article>
					<a href="#" class="btn btn-link">Read more...</a>
				</div>
			</div>
		</div>
		<div class="col col-lg-4">
			<div class="card">
				<img src="assets/meep.jpeg" class="card-img-top article_img" id="meep" alt="lorem">
				<div class="card-body">
					<article>
						<h4 class="card-title">Meet Meep</h4>
						<p class="card-text">Meep is a friendly little robot that will help you accomplish your daily
							household chores.</p>
							<br />
							<p>By Judy Jetson</p>
					</article>
					<a href="#" class="btn btn-link">Read more...</a>
				</div>
			</div>
		</div>
		<div class="col col-lg-4">
			<div class="card">
				<header>
					<img src="assets/Music producers photo.jpg" class="card-img-top article_img" alt="lorem">
				</header>
				<div class="card-body">
					<article>
						<h4 class="card-title">Confession</h4>
						<p class="card-text">Music producers finally admit that they have no idea what any of these buttons do.</p>
						<br />
						<p>By Muhammad Ali</p>
					</article>
					<a href="#" class="btn btn-link">Read more...</a>
				</div>
			</div>
		</div>
		<div class="col col-lg-4">
			<div class="card">
				<header>
					<img src="assets/Drone photo.jpg" class="card-img-top article_img" alt="lorem">
				</header>
				<div class="card-body">
					<article>
						<h4 class="card-title">Winter is Here</h4>
						<p class="card-text">It's that time of year again, and the drones are flying south.</p>
						<br />
						<p>By George R. R. Martin</p>
					</article>
					<a href="#" class="btn btn-link">Read more...</a>
				</div>
			</div>
		</div>
		<div class="col col-lg-4">
			<div class="card">
				<header>
					<img src="assets/Tennis ball photo.jpg" class="card-img-top article_img" alt="lorem">
				</header>
				<div class="card-body">
					<article>
						<h4 class="card-title">Playing God</h4>
						<p class="card-text">Scientists are augmenting a tennis ball's natural abilities. Some say science has gone too far.</p>
						<br />
						<p>By Serena Williams</p>
					</article>
					<a href="#" class="btn btn-link">Read more...</a>
				</div>
			</div>
		</div>
	</div>
</div>