<section>
	<div class="card mb-1">
		<div class="row g-0">
			<div class="col-md-4">
				<img id="featured-image" src="/assets/mars.jpeg" alt="nuke">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h3 class="card-title">Musk to Mars</h3>
					<p class="card-text">Elon Musk has finally mastered space travel and has announced his impending
						move to the red planet, Mars. He departs this Sunday.</p>
					<p class="card-text"><small class="text-muted">By Ada Lovelace</small></p>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="container-fluid">
	<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
		<div class="col col-lg-4">
			<div class="card">
					<img src="assets/space hub.jpeg" class="card-img-top article_img" alt="lorem">
				<div class="card-body">
					<article>
						<h4 class="card-title">Card title</h4>
						<p class="card-text">Velit veniam veniam laboris irure. Proident quis dolor commodo enim et.
							Dolore
							proident pariatur esse fugiat culpa Lorem ad duis dolore anim ipsum quis. Aliquip et amet
							aliquip ipsum laborum laborum aliqua velit amet ea magna reprehenderit.</p>
					</article>
					<a href="#" class="btn btn-link">Read more...</a>
				</div>
			</div>
		</div>
		<div class="col col-lg-4">
			<div class="card">
					<img src="assets/sentient ai.jpeg" class="card-img-top article_img" alt="lorem">
				<div class="card-body">
					<article>
						<h4 class="card-title">Card title</h4>
						<p class="card-text">Velit veniam veniam laboris irure. Proident quis dolor commodo enim et.
							Dolore
							proident pariatur esse fugiat culpa Lorem ad duis dolore anim ipsum quis. Aliquip et amet
							aliquip ipsum laborum laborum aliqua velit amet ea magna reprehenderit.</p>
					</article>
					<a href="#" class="btn btn-link">Read more...</a>
				</div>
			</div>
		</div>
		<div class="col col-lg-4">
			<div class="card">
					<img src="assets/meep.jpeg" class="card-img-top article_img" id="meep" alt="lorem">
				<div class="card-body">
					<article>
						<h4 class="card-title">Card title</h4>
						<p class="card-text">Velit veniam veniam laboris irure. Proident quis dolor commodo enim et.
							Dolore
							proident pariatur esse fugiat culpa Lorem ad duis dolore anim ipsum quis. Aliquip et amet
							aliquip ipsum laborum laborum aliqua velit amet ea magna reprehenderit.</p>
					</article>
					<a href="#" class="btn btn-link">Read more...</a>
				</div>
			</div>
		</div>
		<div class="col col-lg-4">
			<div class="card">
				<header>
					<img src="assets/Music producers photo.jpg" class="card-img-top article_img" alt="lorem">
				</header>
				<div class="card-body">
					<article>
						<h4 class="card-title">Card title</h4>
						<p class="card-text">Velit veniam veniam laboris irure. Proident quis dolor commodo enim et.
							Dolore
							proident pariatur esse fugiat culpa Lorem ad duis dolore anim ipsum quis. Aliquip et amet
							aliquip ipsum laborum laborum aliqua velit amet ea magna reprehenderit.</p>
					</article>
					<a href="#" class="btn btn-link">Read more...</a>
				</div>
			</div>
		</div>
		<div class="col col-lg-4">
			<div class="card">
				<header>
					<img src="assets/Drone photo.jpg" class="card-img-top article_img" alt="lorem">
				</header>
				<div class="card-body">
					<article>
						<h4 class="card-title">Card title</h4>
						<p class="card-text">Velit veniam veniam laboris irure. Proident quis dolor commodo enim et.
							Dolore
							proident pariatur esse fugiat culpa Lorem ad duis dolore anim ipsum quis. Aliquip et amet
							aliquip ipsum laborum laborum aliqua velit amet ea magna reprehenderit.</p>
					</article>
					<a href="#" class="btn btn-link">Read more...</a>
				</div>
			</div>
		</div>
		<div class="col col-lg-4">
			<div class="card">
				<header>
					<img src="assets/Tennis ball photo.jpg" class="card-img-top article_img" alt="lorem">
				</header>
				<div class="card-body">
					<article>
						<h4 class="card-title">Card title</h4>
						<p class="card-text">Velit veniam veniam laboris irure. Proident quis dolor commodo enim et.
							Dolore
							proident pariatur esse fugiat culpa Lorem ad duis dolore anim ipsum quis. Aliquip et amet
							aliquip ipsum laborum laborum aliqua velit amet ea magna reprehenderit.</p>
					</article>
					<a href="#" class="btn btn-link">Read more...</a>
				</div>
			</div>
		</div>
	</div>
</div>