<main>
	<h1>techCheck</h1>

	<div class="container">
		<div class="row">
			<section>
				<div class="col" id="top-stories">
					<h3>Top Stories</h3>
					<section>
						<div id="featured" class="row">
							
							<p class="featured_text">
								<img id="featured-image" src="/assets/image1.jpg" alt="Featured Ipsum"
								class="img-fluid float-left">
								Cupidatat laboris pariatur laboris amet pariatur. Est sint Lorem
								officia consectetur.
								Esse consequat duis aliquip occaecat sit ad esse amet cupidatat pariatur ullamco. Non
								labore proident id ut.</p>
						</div>
					</section>
					<div class="container-fluid">
						<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
							<div class="col col-lg-4">
								<div class="article">
									<section>
										<header>
											<div class="article_image">
												<img src="" alt="lorum" class="img-fluid">
											</div>
											<h4>Lorum Ipsem Goes Wild</h4>
										</header>
										<article>
											<p class="article_text">Elit proident laboris sint sint ea et reprehenderit
												eu irure ullamco dolor cupidatat amet. Aute sint est velit anim. Esse
												deserunt eiusmod irure nulla eiusmod sunt laborum deserunt. Dolore
												laborum duis enim magna minim magna nostrud laborum quis veniam aute
												enim consequat.</p>
											<p class="author">John Doe</p>
										</article>
									</section>
								</div>
							</div>
							<div class="col col-lg-4">
								<div class="article">
									<section>
										<header>
											<div class="article_image">
												<img src="" alt="lorum" class="img-fluid">
											</div>
											<h4>This App will change your life.</h4>
										</header>
										<article>
											<p class="article_text">Elit proident laboris sint sint ea et reprehenderit
												eu irure ullamco dolor cupidatat amet. Aute sint est velit anim. Esse
												deserunt eiusmod irure nulla eiusmod sunt laborum deserunt. Dolore
												laborum duis enim magna minim magna nostrud laborum quis veniam aute
												enim consequat.</p>
											<p class="author">John Doe</p>
										</article>
									</section>
								</div>
							</div>
							<div class="col col-lg-4">
								<div class="article">
									<section>
										<header>
											<div class="article_image">
												<img src="" alt="lorum" class="img-fluid">
											</div>
											<h4>Lorum Ipsem Goes Wild</h4>
										</header>
										<article>
											<p class="article_text">Elit proident laboris sint sint ea et reprehenderit
												eu irure ullamco dolor cupidatat amet. Aute sint est velit anim. Esse
												deserunt eiusmod irure nulla eiusmod sunt laborum deserunt. Dolore
												laborum duis enim magna minim magna nostrud laborum quis veniam aute
												enim consequat.</p>
											<p class="author">John Doe</p>
										</article>
									</section>
								</div>
							</div>
							<div class="col col-lg-4">
								<div class="article">
									<section>
										<header>
											<div class="article_image">
												<img src="" alt="lorum" class="img-fluid">
											</div>
											<h4>Lorum Ipsem Goes Wild</h4>
										</header>
										<article>
											<p class="article_text">Elit proident laboris sint sint ea et reprehenderit
												eu irure ullamco dolor cupidatat amet. Aute sint est velit anim. Esse
												deserunt eiusmod irure nulla eiusmod sunt laborum deserunt. Dolore
												laborum duis enim magna minim magna nostrud laborum quis veniam aute
												enim consequat.</p>
											<p class="author">John Doe</p>
										</article>
									</section>
								</div>
							</div>
							<div class="col col-lg-4">
								<div class="article">
									<section>
										<header>
											<div class="article_image">
												<img src="" alt="lorum" class="img-fluid">
											</div>
											<h4>Lorum Ipsem Goes Wild</h4>
										</header>
										<article>
											<p class="article_text">Elit proident laboris sint sint ea et reprehenderit
												eu irure ullamco dolor cupidatat amet. Aute sint est velit anim. Esse
												deserunt eiusmod irure nulla eiusmod sunt laborum deserunt. Dolore
												laborum duis enim magna minim magna nostrud laborum quis veniam aute
												enim consequat.</p>
											<p class="author">John Doe</p>
										</article>
									</section>
								</div>
							</div>
							<div class="col col-lg-4">
								<div class="article">
									<section>
										<header>
											<div class="article_image">
												<img src="" alt="lorum" class="img-fluid">
											</div>
											<h4>Lorum Ipsem Goes Wild</h4>
										</header>
										<article>
											<p class="article_text">Elit proident laboris sint sint ea et reprehenderit
												eu irure ullamco dolor cupidatat amet. Aute sint est velit anim. Esse
												deserunt eiusmod irure nulla eiusmod sunt laborum deserunt. Dolore
												laborum duis enim magna minim magna nostrud laborum quis veniam aute
												enim consequat.</p>
											<p class="author">John Doe</p>
										</article>
									</section>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<div class="col">
				<section>
					<div class="row" id="ad"></div>
				</section>
				<section>
					<div class="row" id="latest-stories"></div>
				</section>
			</div>
		</div>
	</div>
</main>