
<h1>All Users</h1>


<% for (let i=users.length-1; i>=0; i--) { %>
  <div class="user-card">
        <div>
          <h5><%= users[i].firstName %></h5>
          <h6><%= users[i].email %></h6>
      </div>
  </div>
  
  <% } %>