body, html, main {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  text-align: justify;
}

nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}


#ad {
  width: 20rem;
}

#robot {
  height: 300px;
  width: 300px;
}

#content {
  width: 100%;
}

#col2 {
  width: 100%;
}

#latest-stories {
  width: 100%;
}

#search-bar {
  max-width: 300px;
  max-height: 50px;
}

#logo-search-btn {
  display: flex;
  justify-content: space-between;
}

.btn-secondary {
  margin-left: 20px;
  color: rgb(56, 56, 56)
}

.btn-primary {
  background-color: #31DB16;
  margin-left: 20px;
}

.btn-primary:hover {
  background-color: #7adf6a;
}



#srch-icon {
  float: right;
  height: 1.5%;
  width: 1.5%;
  position: absolute;
  right: 20px;
  top: 0;
}

#top-stories {
  height: 63%;
  width: 100%;
}

#featured {
  width: 99%;
}

#featured-image {
  height: 210px;
  width: 220px;
  margin-top: 1.3rem;
}

#meep {
  width: 240px;
  max-width: 200px;
}

.article_img {
  width: 200px;
  max-width: 200px;
  height: 200px;
  padding: 20px;
}

.card {
  width: auto;
  border: none !important;
}
.card-img-top {
  padding: 0;
}
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}


element {
	padding-left: 0px;
	padding-right: 0px;

.row {
  width: 80%;
}

#user-title {
  display: inline-flex;
  justify-content: space-between;
}

#user-date {
  padding-top: .1rem;
}

#user-table {
  justify-content: center;
  max-width: 70%;
  font-size: ;
}

.even-user-row {
  background-color: whitesmoke;
}

.odd-user-row {
  background-color: gainsboro;
}

.auth-box {
  text-align: right;
  margin-top: 20%;
  border-radius: 5px;
  padding: 10%;

  background-color: gainsboro;
  justify-content: space-between;
}

#nav-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: whitesmoke;
  list-style: none;
  justify-content: space-evenly;
}