body, html, main {
  height: 100%;
}

nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}

h1 {
  color: chartreuse;
}

#content {
  width: 100%;
}

#search-bar {
  width: 20%;
}

#srch-icon {
  float: right;
  height: 1.5%;
  width: 1.5%;
  position: absolute;
  right: 20px;
  top: 0;
}

#top-stories {
  height: 63%;
  width: 70%;
}

#featured {
  width: 99%;
}

#featured-image {
  height: 200px;
  width: 300px;
  margin: 0 1.1rem 0 1.1rem;
}

#featured header {
  text-align: center;
  margin-left: 0.7rem;
}

.row {
  width: 80%;
}